h1 {font: 1em arial; color: rgba(75, 6, 75, 0.63); font-size: 28px}
p {font: 1em arial; color: rgba(0, 67, 129, 0.808); font-size: 15px}
button {font: 1em arial; color: rgba(133, 11, 11, 0.822); font-size: 13px; background-color: rgb(76, 161, 76)}
body {background-color: rgb(190, 226, 173)}
h2 {font: 1em arial; color: rgba(75, 6, 75, 0.63); font-size: 22px}
li {font: 1em arial; color: rgba(39, 37, 134, 0.781); font-size: 15px}